@import '../../App.scss';

.experience {
  padding-left: 5em;
  padding-right: 5em;
  @include breakpoint(sm) {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 4em;
  }
  h3 {
    color: #181818;
  }

  h4 {
    color: #292929;
  }

  p {
    color: #9a73cc;
  }
  .date {
    color: white;
  }
}
