.about {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
    padding-bottom: 40em;
    
    .aboutme {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

      h1,h2 {
        font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2em;
        font-weight: bolder;
        color: #F6DBFF;
        margin-top: 0;
        margin-bottom: 1em;
      }

      p {
        font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        height: 50px;
        min-width: fit-content;
        animation: pulse 1s;

        &:nth-of-type(1) {
          animation-delay: 0.1s;
        }

        &:nth-of-type(2) {
          animation-delay: 0.2s;
        }

        &:nth-of-type(3) {
          animation-delay: 0.3s;
        }
      }
    }
}