@import '../../App.scss';

.about {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;

  .aboutme {
    position: absolute;
    left: 15%;
    top: 45%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 90%;
    @include breakpoint(md) {
      width: 80%;
      top: 45%;
      left: 10%;
    }

    h1,
    h2 {
      font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bolder;
      font-size: 2.5vw;
      padding-top: 2vw;
      color: var(--secondary-color);
      @include breakpoint(md) {
        font-size: 5vw;
        height: 2vw;
        padding-top: 1vw;
      }
    }

    p {
      font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: large;
      height: 2vw;
      font-size: 1.5vw;
      padding-bottom: 1vw;
      color: var(--primary-color);
      min-width: fit-content;
      animation: pulse 1s;
      @include breakpoint(md) {
        font-size: 2.5vw;
        height: 2vw;
        padding-bottom: 0;
      }

      &:nth-of-type(1) {
        animation-delay: 0.1s;
      }

      &:nth-of-type(2) {
        padding-top: 2vw;
        padding-bottom: 1vw;
        animation-delay: 0.2s;
        @include breakpoint(md) {
          padding-bottom: 0;
        }
      }

      &:nth-of-type(3) {
        animation-delay: 0.3s;
      }

      &:nth-of-type(4) {
        animation-delay: 0.4s;
      }
    }
  }

  .cube {
    width: 50%;
    height: 100%;
    top: 0;
    right: 3%;
    margin-left: 0;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    @include breakpoint(md) {
      top: 42%;
      justify-content: flex-start;
      width: 100%;
    }

    .cubespinner {
      animation-name: spincube;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 12s;
      transform-style: preserve-3d;
      transform-origin: 100px 100px 0;
      margin-left: calc(50% - 100px);

      div {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.4);
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0;
      }

      .face1 {
        transform: translateZ(100px);
      }
      .face2 {
        transform: rotateY(90deg) translateZ(100px);
      }
      .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      }
      .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      }
      .face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      }
      .face6 {
        transform: rotateX(-90deg) translateZ(100px);
      }
    }

    @keyframes spincube {
      from,
      to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      }
      16% {
        transform: rotateY(-90deg);
      }
      33% {
        transform: rotateY(-90deg) rotateZ(90deg);
      }
      50% {
        transform: rotateY(-180deg) rotateZ(90deg);
      }
      66% {
        transform: rotateY(-270deg) rotateZ(90deg);
      }
      83% {
        transform: rotateX(90deg);
      }
    }
  }
}
