@import '../../App.scss';

.projects {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .projectTitle {
    position: absolute;
    top: 5%;
    text-align: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bolder;
    color: $secondary-color;
    display: flex;
    @include breakpoint(md) {
      top: 19%;
    }
  }

  .projectList {
    position: absolute;
    top: 10%;
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding-top: 2em;
    @include breakpoint(md) {
      grid-template-columns: 1fr;
      top: 25%;
      justify-content: center;
      align-items: center;
    }
  }
}

.projectItem {
  border-radius: 15px;
  width: 18.5em;
  height: 18.5em;
  margin: 2.5em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: $secondary-color;

  h1 {
    font-size: 1.6em;
    color: $primary-color;
  }

  .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 13em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: ease-in;
    scale: 110%;
    cursor: pointer;
  }
}
