@import '../../App.scss';

.home {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;

  .intro {
    position: absolute;
    left: 10%;
    top: 60%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;

    h1 {
      font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 50px;
      height: 50px;
      color: #F6DBFF;
      padding-bottom: 1em;
    }

    p {
      font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 40px;
      height: 50px;
      color: #9A73CC;
      left: 4%;
    }
  }
  
  .photo {
    position: absolute;
    left: 60%;
    top: 10%;
    max-height: 70%;

    .miray{
      position: absolute;
      left: 2em;
      border-radius: 10%;
      img{
        height: 39em;
        object-fit: cover;
        border-radius: 10%;
      }
    }
    .layer1{
      position: absolute;
      top: 2em;
      left: 3.5em;
      background-color: #F6DBFF;
      padding-top: 35em;
      padding-left: 21em;
      padding-bottom: 1em;
      border-radius: 10%;
    }
    .layer2{
      position: absolute;
      background-color: #181818;
      padding-bottom: 35em;
      padding-right: 20em;
      border-radius: 10%;
    }
    .layer3{
      position: absolute;
      top: 4em;
      left: 1em;
      background-color: #9A73CC;
      padding-bottom: 35em;
      padding-right: 10em;
      padding-left: 12em;
      border-radius: 10%;
    }
  }
}
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  }