@import '../../App.scss';

.home {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  @include breakpoint(md) {
    width: 100%;
    left: 0;
    text-align: center;
  }

  .intro {
    position: absolute;
    left: 15%;
    top: 60%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    @include breakpoint(md) {
      position: relative;
      top: 8em;
      width: 80%;
      left: 0;
      transform: none;
    }

    h1 {
      font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 4vw;
      height: 1em;
      color: $secondary-color;
      padding-bottom: 1em;
      @include breakpoint(md) {
        font-size: 7vw;
      }
    }

    p {
      font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 3vw;
      height: 3em;
      color: $primary-color;
      left: 4%;
      @include breakpoint(md) {
        font-size: 5vw;
      }
    }
  }

  .photo {
    position: absolute;
    left: 55%;
    max-height: 70%;
    @include breakpoint(md) {
      position: relative;
      width: 80%;
      top: 6em;
      left: 10%;
    }

    .miray {
      position: absolute;
      left: 2.2em;
      border-radius: 10%;
      img {
        height: 37em;
        object-fit: cover;
        border-radius: 10%;
      }
    }
    .layer1 {
      position: absolute;
      top: 2em;
      left: 3.5em;
      background-color: $secondary-color;
      margin-top: 1em;
      padding-top: 33em;
      padding-left: 21em;
      border-radius: 10%;
    }
    .layer2 {
      position: absolute;
      background-color: $navbg;
      margin-top: 1em;
      padding-bottom: 33em;
      padding-right: 21em;
      border-radius: 10%;
    }
    .layer3 {
      position: absolute;
      top: 4em;
      left: 1em;
      background-color: $primary-color;
      padding-bottom: 33em;
      padding-left: 22em;
      border-radius: 10%;
    }
  }
}
