.navbar {
  position: fixed;
  top: 0;
  width: 100px;
  height: 100%;
  background: #281041;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

.logo {
  display: block;
  position: relative;
  right: 1em;
  top: 1em;
}
  
  .links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 5em;
    color: white;
  }

  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;

    i {
      transition: all 0.3s ease-out;
    }

    &:hover{
      color: #9A73CC;
    }
  }
  
  .toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .toggleButton svg {
    font-size: 50px;
  }
  .toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  #open {
    height: 100vh;
  }
  
  #open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
  }
  
  #open a {
    width: 100%;
    text-align: center;
  }
  
  @media only screen and (max-width: 900px) {
    .navbar a {
      width: 70px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .toggleButton {
      display: flex;
    }
    #close a {
      display: none;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .toggleButton {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 100px;
    }
  
    #open .links {
      flex-direction: row;
    }
  }