@import '../../App.scss';

.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100px;
  height: 100%;
  background: var(--navbg);
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.5);
  @include breakpoint(md) {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 70px;
    z-index: 1000;
    top: 0;
  }

  .logo {
    display: block;
    position: relative;
    top: 1vw;
    left: 0.25rem;
    @include breakpoint(md) {
      display: none;
    }
    cursor: pointer;
    z-index: 10;
  }

  .links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 5vw;
    @include breakpoint(md) {
      display: none;
    }

    a {
      color: white;
      display: block;
      position: relative;
      cursor: pointer;
      svg {
        color: white;
        background: transparent;
        margin: 20px;
        font-size: 50px;
      }
      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: var(--primary-color);

        svg {
          color: var(--primary-color);
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &::after {
          content: 'HOME';
        }
      }

      &:nth-child(2) {
        &::after {
          content: 'ABOUTME';
        }
      }

      &:nth-child(3) {
        &::after {
          content: 'PROJECTS';
        }
      }

      &:nth-child(4) {
        &::after {
          content: 'EXPERIENCE';
        }
      }
    }
    a.active {
      svg {
        color: var(--primary-color);
      }
    }
  }

  .toggleButton {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    @include breakpoint(lg) {
      display: none;
    }

    button {
      margin-left: 1em;
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
      svg {
        font-size: 3em;
      }
    }
  }
}

#close {
  @include breakpoint(md) {
    a {
      display: none;
    }
  }
}

#open {
  height: 100vh;

  .smnav {
    @include breakpoint(md) {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      padding-left: 2em;
    }

    a {
      color: white;
      display: block;
      position: relative;
      padding: 2px;
      text-decoration: none;
      cursor: pointer;
      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
