.project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5em;
    padding-top: 3em;
  }
  
.project {
  h1 {
    margin-top: 50px;
    font-size: 35px;
    color: #F6DBFF;
  }
  img {
    width: 700px;
    border-radius: 10px;
  }
  
  p {
    font-size: 20px;
  }
  
  b {
    color: #F6DBFF;
  }
}

  .link {
    position: absolute;
    left: 16em;
    display: flex;
    flex-direction: column;
  }
  
  .project svg {
    font-size: 60px;
    color: #F6DBFF;
    cursor: pointer;
    i {
      transition: all 0.3s ease-in;
      scale: 110%;
    }
    &:hover{
      scale: 120%;
    }  
  }