@import "../../App.scss";

.project {
  margin: 0;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  h1 {
    font-size: 3vw;
    color: var(--secondary-color);
    @include breakpoint(md) {
      width: 100%;
      font-size: 7vw;
    }
  }

  p {
    font-size: 2vw;
    color: var(--primary-color);
    @include breakpoint(md) {
      width: 100%;
      font-size: 3vw;
    }
  }

  b {
    color: var(--secondary-color);
  }

  .holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    height: 80%;
    @include breakpoint(md) {
      flex-direction: column;
      max-width: 90%;
    }
  }
  .details {
    margin: 0 0 0 30px;
    width: 50%;
    @include breakpoint(md) {
      margin: 0;
      width: 100%;
      margin-top: 1em;
    }
  }

  .bgImage {
    width: 30em;
    height: 20em;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.77);
  }

  .link {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    text-shadow: 0px 3px 15px rgb(204, 101, 248);
    height: 100%;
    &:hover {
      background-color: rgba(0, 0, 0, 0.571);
      box-shadow: 0px 3px 15px rgb(204, 101, 248);
      color: var(--primary-color);
      &:after {
        opacity: 1;
      }
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
      text-decoration: none;
      color: var(--primary-color);
      span {
        margin-top: 5px;
        font-size: 1vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        opacity: 0;
        transition: opacity 0.3s ease-out;
        @include breakpoint(md) {
          font-size: 3vw;
        }
      }
      &:hover {
        color: var(--secondary-color);
        i {
          transition: all 0.3s ease-out;
          scale: 110%;
        }
        span {
          opacity: 1;
        }

        &:after {
          opacity: 1;
        }
      }
      svg {
        font-size: 8vw;
        color: rgba(0, 0, 0, 0);
        padding: 0.7vw;
        cursor: pointer;
        &:hover {
          scale: 120%;
          color: var(--secondary-color);
        }
        @include breakpoint(md) {
          font-size: 20vw;
        }
      }
      &:after {
        content: "";
        font-size: 8px;
        letter-spacing: 2px;
        position: relative;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
    }
  }
}
