@import '../../App.scss';

.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 3em;

  h1 {
    margin-top: 2em;
    font-size: 2em;
    color: $secondary-color;
  }
  img {
    width: 44em;
    border-radius: 10px;
  }

  p {
    font-size: 1.2em;
    color: $primary-color;
  }

  b {
    color: $secondary-color;
  }

  .link {
    position: absolute;
    left: 16%;
    bottom: 40%;
    display: flex;
    flex-direction: column;
    svg {
      font-size: 60px;
      color: $primary-color;
      cursor: pointer;
      i {
        transition: all 0.3s ease-in;
        scale: 110%;
      }
      &:hover {
        scale: 120%;
      }
    }
  }
}
