@import '../../App.scss';

.footer {
  position: fixed;
  left: 95%;
  width: 100px;
  height: 100%;
  background: $navbg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: start;
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.5);
  @include breakpoint(sm) {
    display: none;
  }
  @include breakpoint(sm2) {
    display: none;
  }
  @include breakpoint(md) {
    display: flex;
  }

  p {
    color: white;
    position: relative;
    right: 1em;
  }

  .socialMedia {
    padding-right: 2em;

    a {
      color: white;
      display: block;
      position: relative;
      cursor: pointer;
      svg {
        color: white;
        background: transparent;
        margin: 20px;
        font-size: 50px;
      }
      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: $primary-color;

        svg {
          color: $primary-color;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
      &:first-child {
        &::after {
          content: 'PDF CV';
        }
      }
      &:nth-child(2) {
        &::after {
          content: 'EMAIL';
        }
      }

      &:nth-child(3) {
        &::after {
          content: 'GITHUB';
        }
      }
      &:nth-child(4) {
        &::after {
          content: 'LINKEDIN';
        }
      }
    }
  }
}
