.footer {
    position: fixed;
    top: 0;
    left: 80em;
    width: 100px;
    height: 100%;
    background: #281041;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: start;
  }
  
  .socialMedia{
    padding-right: 2em;
  }
  .socialMedia svg {
    color: white;
    background: transparent;
    margin: 20px;
    font-size: 50px;
    cursor: pointer;
  }

  button {
    position: relative;
    bottom: 2em;
    left: 2em;
    color: white;
    font-size: large;
    font-weight: bold;
    background-color: transparent;
    border: none;
    // text-decoration: underline;
    // text-decoration-line: bold;
  }
  
  .footer p {
    color: white;
  }
  
  @media only screen and (max-width: 600px) {
    .footer svg {
      font-size: 50px;
    }
  }